* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 12px;
}

html,
body {
  width: 100%;
  height: 100%;
}

.root {
  height: 100%;
}
.block {
  height: 100%;
}

.wrapper {
  background-image: url("../assets/img/background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.layer {
  background-color: #00000091;
  text-align: center;
  height: 100%;
}

header {
  padding: 2rem 0;
  text-align: center;
  background-color: #0000009e;
}

h1 {
  font-size: 3rem;
  color: azure;
}

.model-wrapper {
  display: flex;
  margin-top: 4rem;
  justify-content: space-around;
  width: 60%;
  margin: 0 auto;
}
.model-photo {
  width: 320px;
  height: 400px;

  position: relative;
}

.model-photo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.model-photo .glasses-worn {
  width: 168px;
  position: absolute;
  left: 24%;
  top: -16%;
}

.glasses-info {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 35%;
  background-color: #ff450073;
}

.glasses-wrapper {
  background-color: white;
  width: 70%;
  height: 70px;
  margin: 0 auto;
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.glasses-info {
  text-align: start;
  padding: 10px;
}

.glasses-name {
  font-size: 2rem;
  color: #761076;
}

.glasses-desc {
  margin-top: 5px;
  font-size: 1.3rem;
  color: #322f2f;
}
